__pycache__/
.env
.env.test
.db.sqlite
.db.sqlite-shm
.db.sqlite-wal
.db-journal
dist/
build/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.egg
.local
.mypy_cache
.pytest_cache
migrations/
migrations.egg-info/
local_settings.py
